body{
    font-family: "Poppins";
    
}

.navbar{
    background-color: #FAFAFA;
}
.abcd{
    align-content: center;
    margin-top: 8px;
}

.cardd{
    background: transparent;
    border: none;
}
.bg-1{
    margin-top: -600px;
    
}
.container1{
    margin-top: 80px;
}
.text2{
    margin-top: 100px;
}
.class{
    margin-top: 60px;
}
.textt{
    color: black;
}
.section1{
    background-image: url("images/bg-1.png");}
    .email{
        width: 408px;
height: 60px;
top: 537px;
left: 76px;
gap: 0px;
border-radius: 40px;
opacity: 0px;
border: none;
    }
    .buttonn{
        border: none;
        background-color: black;
        color: white;
        border-radius: 40px;
        height: 55px;
        margin-left: -20px;
        width: 130px;
        
    }
    .subscribe{
        font-size: 40px;
        font-weight: bolder;
    }
    .section2{
        margin-top: 30px;
    }
    .cards{
        margin-top: 40px;
    
    }
    .section3{
        margin-top: 40px;
    }
    .cards2{
        margin-top: 40px;

    }
    .containerbtn1{
        border-radius: 40px;
    }
    .ownclass{
        margin-top: 190px;
    }
    .containerbtn2{
        border-radius: 40px;
        height: 40px;
        margin-top: 5px;
    }
    .ownclasscard{
        margin-left: 40px;
    }
    .numbers{
        margin-top: 20px;
        font-size: 70px;
        font-weight: bolder;
    }
    .texts{
        margin-left: 30px;
    }
    .Rectangle{
        position: absolute;
        margin-left: 700px;
    }